.services {
  padding: 10px 15px;
  width: 76%;
  margin: 0 auto;
  height: 100vh;
  // overflow-y: hidden;

  .search {
    margin-top: 15px;
    height: 50px;
    form {
      border-bottom: var(--bottom-line);
      height: 33px;
      display: flex;
      gap: 10px;
      align-items: center;
      .search-icon {
        color: #888888;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
      input {
        width: 90%;
        outline: none;
        border: none;
        font-size: 16px;
        color: #888888;
        height: 100%;
        &::placeholder {
          font-size: 16px;
          color: #888888;
        }
      }
    }
  }

  .service-details {
    width: 100%;
    .entry-text {
      font-size: 16px;
      font-weight: bold;
    }
    .details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0;
      border-bottom: var(--bottom-line);

      .left {
        display: grid;
        color: black;
        .service_name {
          font-size: 16px;
        }
        .time_price {
          margin-top: 5px;
          display: flex;
          gap: 10px;
          align-items: center;
          .price {
            font-size: 13px;
          }
          .time {
            font-size: 13px;
            color: #888888;
          }
        }
      }
      .right-checkbox {
        .check {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #fff;
          border: var(--bottom-line);
        }
      }
    }
    .details:hover {
      cursor: pointer;
      .left {
        color: var(--main-color);
        .time_price .time {
          color: var(--main-color);
        }
      }
      .right-checkbox .check {
        border-color: var(--main-color);
      }
    }
  }
}

@media (max-width: 1390px) {
  .services {
    width: 71%;
  }
}
@media (max-width: 1200px) {
  .services {
    width: 63%;
  }
}
@media (max-width: 992px) {
  .services {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .services {
    width: 100%;
  }
}
