.masters_list {
  height: 100vh;
  padding: 10px 10px;
  background: rgb(245, 245, 245);
  .master_data {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7px 10px;
    .master {
      width: 310px;
      height: 97px;
      background-color: #fff;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: 0.3s;
      border: 1px solid #e7e7e7;
      .left-in-responsive {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      .photo {
        position: relative;
        top: 3px;
        img {
          border: 2px solid rgb(221, 220, 220);
          width: 80px;
          height: 80px;
          border-radius: 50%;
          object-fit: cover;
          background-position: center;
          background-size: cover;
        }
        .i {
          position: absolute;
          bottom: 5px;
          right: 0px;
          color: #fff;
          background-color: dodgerblue;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          display: grid;
          align-items: center;
          justify-content: center;
        }
      }

      .master_name {
        .name {
          font-size: 15px;
          line-height: 24px;
        }
        .duty {
          font-size: 12px;
          line-height: 20px;
          color: #39394f;
        }
      }

      .icon {
        color: #39394f;
        font-size: 20px;
        font-weight: 900;
        margin-top: 3px;
      }

      &:hover {
        background-color: var(--main-color);
        cursor: pointer;
        * {
          color: white !important;
          img {
            border-color: white;
          }
        }
      }
    }
  }
}

@media (min-width: 1501px) {
  .masters_list {
    .master_data {
      display: flex;
      flex-wrap: wrap;
      .master {
        .master_name {
          .name {
            font-size: 20px;
          }
          .duty {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (min-width: 1390px) {
  .masters_list {
    width: 72%;
    .master_data {
      grid-template-columns: auto auto auto;
      .master {
        .master_name {
          .name {
            font-size: 18px;
          }
          .duty {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 1390px) {
  .masters_list {
    width: 67%;
    .master_data {
      grid-template-columns: 50% 50%;
      .master {
        width: 100%;
      }
    }
  }
}
@media (max-width: 992px) {
  .masters_list {
    width: 60%;
    .master_data {
      grid-template-columns: auto;
      .master {
        width: 100%;
        justify-content: space-between;
        .left-in-responsive {
          margin-left: 20px;
          gap: 25px;
        }
        .icon {
          margin-right: 15px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .masters_list {
    width: 100%;
    .master_data {
      grid-template-columns: auto;
      .master {
        width: 100%;
        justify-content: space-between;
        .left-in-responsive {
          margin-left: 15px;
          gap: 15px;
          .master_name {
            .name {
              font-size: 14px;
            }
            .duty {
              font-size: 11px;
            }
          }
        }
        .icon {
          margin-right: 15px;
        }
      }
    }
  }
}
