.master-and-date {
  margin-left: 385px;
  background-color: var(--background);
  height: 100vh;
  width: 100%;
  .wrapper {
    padding: 15px;
    display: flex;
    gap: 30px;

    .pickedMaster {
      .master {
        width: 310px;
        height: 97px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center;
        transition: 0.3s;
        border: 1px solid #e7e7e7;
        .left-in-responsive {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        .photo {
          position: relative;
          top: 3px;
          img {
            border: 2px solid rgb(221, 220, 220);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            background-position: center;
            background-size: cover;
          }
          .i {
            position: absolute;
            bottom: 5px;
            right: 0px;
            color: #fff;
            background-color: dodgerblue;
            border-radius: 50%;
            height: 20px;
            width: 20px;
            display: grid;
            align-items: center;
            justify-content: center;
          }
        }

        .master_name {
          .name {
            font-size: 15px;
            line-height: 24px;
          }
          .duty {
            font-size: 12px;
            line-height: 20px;
            color: #39394f;
          }
        }

        .icon {
          color: #39394f;
          font-size: 20px;
          font-weight: 900;
          margin-top: 3px;
        }

        &:hover {
          background-color: var(--main-color);
          cursor: pointer;
          * {
            color: white !important;
            img {
              border-color: white;
            }
          }
        }
      }
    }

    .date_days {
      width: 310px;
      margin-top: 50px;
      gap: 5px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 5px;
      span {
        width: 70px;
        height: 28px;
        background-color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        border: 0.2px solid rgb(217, 213, 213);
      }
    }
  }
}

@media (max-width: 768px) {
  .master-and-date {
    margin-left: 0px;
    margin-top: 75px;
    .wrapper {
      width: 100%;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      .pickedMaster {
        width: 100%;
        .master {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 20px;
        }
      }
      .calendar_date {
        width: 100%;
        display: flex;
        gap: 5px;
        .calendar {
          flex: 1;
        }
        .date_days {
          flex: 1;
        }
      }
    }
  }
}
